body{
    background-color: rgb(30, 30, 30);
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.box1{
    position: absolute;
   
    
}
.box1-img{
    filter: brightness(66%);
}
.navbar{
    color:rgb(104, 103, 103);
    position: relative;
    top: -650px;
    padding-left:80px;
    

    
    
}
h1{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    
    
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.552);
    margin-left: 20px;
    position: relative;
    left: 350px;
    top: -50px;
    font-size: small; 
}

.right-nav{
    border-radius: 50px;
    width: 20px;
    padding: 10px;
    background-color: rgba(158, 156, 156, 0.463);
    position: relative;
    left: 960px;
    top: -80px;
    font-size: 15px;
    text-align: center;
}
.right-nav-text{
    color:white;
    position: relative;
    left: 1020px;
    top: -108px;
    font-size: 15px;
}
.box1-heading{
    color: white;
    position: relative;
    top: -650px;
    left: 720px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: rgba(255, 252, 252, 0.62);
    position: relative;
    top: -650px;
    left: 720px;
    font-size: small;
}
.button1{
    position: relative;
    top: -660px;
    left: 720px;    
    background-color: rgb(0, 128, 255);
    padding: 17px;
    width: 110px;
    border-radius: 5px;
    color: white;
    
    
    
    

}
.button2{
    position: relative;
    top: -715px;
    left: 870px;    
    border: 1px solid rgb(255, 255, 255);
    padding: 17px;
    width: 110px;
    border-radius: 5px;
    color: white;
    
    

}
.box2{
    position: absolute;
    
}
.box2-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 45px;
    position: relative;
    top: 740px;
    margin-left: 70px;
}
.box2-text{
    color: rgb(133, 132, 132);
   font-size: 15px;
    position: relative;
    top: 770px;
    margin-left: 70px;
    line-height: 25px;
}
.box2-button{
    position: relative;
    top: 820px;
    left: 70px;    
    background-color: rgb(0, 128, 255);
    padding: 17px;
    width: 110px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
.box2-img{
    position: relative;
    left: 600px;
    width: 30%;
    height: 250px;
    top: 370px;

}
.box2-box{
    position: relative;
    left: 530px;
    top: 500px;
    width: 120%;

    z-index: -100;
    height: 250px;
    background-color: rgb(0, 0, 0);
    

}
.box3{
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: rgba(114, 112, 112, 0.062);
    position: relative;
    top: 1400px;
}
.box3-heading{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 70px;
    padding-top: 50px;
}
.circle-icon1{
   width:10px;
   height: 10px;
   padding: 25px;
   border-radius: 30px;
   background-color:rgb(17, 117, 240);    
   margin-left: 70px;
   margin-top: 50px;
   
   
}
.fa-jug-detergent{
    position: relative;
    left: 5px;
    bottom: 7px;
    font-size: 35px;
    margin-top: -10px;
}
.circle1-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -5px;
    margin-top: 30px;
    font-size: 20px;
}
.circle1-text{
    color: gray;
    width: 340px;
    margin-left: -5px;
    margin-top: 20px;
}
.circle-icon2{
    width:10px;
    height: 10px;
    padding: 25px;
    border-radius: 30px;
    background-color:rgb(17, 117, 240);    
    margin-left: 460px;
    margin-top: -60px;
}
.fa-gavel{
    position: relative;
    left: 5px;
    bottom: 7px;
    font-size: 35px;
    margin-top: -10px;
}
.circle2-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -1px;
    margin-top: 30px;
    font-size: 20px;
}
.circle2-text{
    color: gray;
    width: 340px;
    margin-left: -1px;
    margin-top: 20px;
}
.circle-icon3{
    width:10px;
    height: 10px;
    padding: 25px;
    border-radius: 30px;
    background-color:rgb(17, 117, 240);    
    margin-left: 870px;
    margin-top: -60px;
}
.fa-scale-unbalanced-flip{
    position: relative; 
    bottom: 5px;
    font-size: 35px;
    margin-top: -10px;
}
.circle3-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:45px;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: -50px;     
}
.circle3-text{
    color: gray;
    width: 340px;
    margin-left:45px;
    margin-top: 20px;
    position: relative;
    top: 10px;
   left: -50PX;
}
.circle-icon4{
    width:10px;
    height: 10px;
    padding: 25px;
    border-radius: 30px;
    background-color:rgb(17, 117, 240);    
    margin-left: 70px;
    margin-top: 300px;
}
.fa-fingerprint{
    position: relative; 
    left: 5px;
    font-size: 35px;
    margin-top: -10px;
}
.circle4-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:-100px;
    margin-top: 25px;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 100px;     
}
.circle4-text{
    color: gray;
    width: 340px;
    margin-left:-100px;
    margin-top:15px;
    position: relative;
    top: 10px;
   left: 100PX;
}
.circle-icon5{
    width:10px;
    height: 10px;
    padding: 25px;
    border-radius: 30px;
    background-color:rgb(17, 117, 240);    
    margin-left:460px;
    margin-top: -60px;
}
.fa-hotel{
    position: relative; 
    bottom: 5px;
    font-size: 35px;
    margin-top: -10px;
}
.circle5-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20px;
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    top: 10px;
    left: -20px;     
}
.circle5-text{
    color: gray;
    width: 340px;
    margin-left:20px;
    margin-top: 10px;
    position: relative;
    top: 10px;
   left: -20PX;
}
.circle-icon6{
    width:10px;
    height: 10px;
    padding: 25px;
    border-radius: 30px;
    background-color:rgb(17, 117, 240);    
    margin-left: 870px;
    margin-top: -50px;
}
.fa-book{
    position: relative; 
    bottom: 5px;
    font-size: 35px;
    margin-top: -10px;
}
.circle6-heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-left:45px;
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    top: -5px;
    left: -50px;     
}
.circle6-text{
    color: gray;
    width: 340px;
    margin-left:45px;
    /* margin-top: 0px; */
    position: relative;
    top: 10px;
   left: -50PX;
}
.box4{
    position: absolute;
    width: 100%;
    height: 1500px;
    background-color: rgba(32, 32, 32, 0.772);
    position: relative;
    top: 1400px;
}
.box-heading{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 70px;
    font-weight: bold;
    margin-top: 70px;
}
.box4-img{
    margin-left: 70px;
    margin-top: 50px;
    height: 300px;
    
}
.box4-right-heading{
    position: relative;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    top: -260px;
    left: 820px;
}
.box4-right-text{
    position: relative;
    color: white;
    top: -240px;
    left: 820px;
    width: 320px;
    line-height: 20px;
    font-size: 14px;
    color: rgb(134, 134, 134);
}
.box4-button{
    background-color: rgb(5, 109, 255);
    width: 100px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    top: -210px;
    left: 820px;
    text-align: center;

}
.box5{
    position: absolute;
    display: flex;
    margin-left: 150px;
    margin-top: -450px;
    
    
    
}
.box5-nav1{
    position: relative;
    top: 900px;
    color: rgb(166, 166, 166);
    margin-right: 200px; 
    
   
    
}
.box5-nav1:hover{
    color: white;
    cursor: pointer;
}
.box5-nav2{
    position: relative;
    top: 900px;
    color: rgb(166, 166, 166);
    margin-right: 200px;  
   
}
.box5-nav2:hover{
    color: white;
   
    cursor: pointer;
}
.box5-nav3{
    position: relative;
    top: 900px;
    color: rgb(166, 166, 166);
    
    cursor: pointer;
    
}
.box5-nav3:hover{
    color: white;
   
}
.box5-heading{
    color: white;
    position: relative;
    top: 1000px;
    right: 920px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
}
.box5-text{
    color: rgb(133, 131, 131);
    position: relative;
    top: 1100px;
    right: 1080px;
    font-size: 15px;
}
.box5-button{
    background-color: rgb(5, 109, 255);
    width: 300px;
    height: 30PX;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: 1200px;
    right: 1330px;
    text-align: center;
    padding-top: 20PX;
     cursor: pointer;

}
.box5-img{
    position: relative;
    top: 990px;
    right: 1050px;

}
.box6{
    margin-top: 100px;
    position: relative;
    
}
.box6-heading{
    color: white;
    position: absolute;
    top: 950px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 90px;

    
}
.boxarea-1{
    position: relative;
    top: 1030px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 50px;
    left: 100PX;
}
.boxarea-1:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-1-text1{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;

}

.box1-numeric{
    color: rgb(104, 104, 104);
    
}
.box-head{
    position: absolute;
    top: -5px;
    left: 50px;
}
.box-sign{
    color: rgb(170, 27, 27);
}

.boxarea-2{
    position: absolute;
    top: 1165px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 1px; */
    margin-top: 20px;
    left: 100PX;
}
.boxarea-2:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-3{
    position:absolute;
    top:3932px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;

    left: 100PX;
}
.boxarea-3:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-4{
    position:absolute;
    top: 3630px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
      left: 455PX;
  
}
.boxarea-4:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-5{
    position:absolute;
    top: 3620px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    left: 810PX;
   
}
.boxarea-5:hover{
    background-color: rgb(48, 114, 236);
}

.boxarea-6{
    position: absolute;
    top: 3775px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    left: 455PX;
    /* display: inline-block; */
}
.boxarea-6:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-7{
    position:absolute;
    top: 3775px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    /* display: inline-block; */
    left: 810PX;
}
.boxarea-7:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-8{
    position:absolute;
    top:3932px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    display: inline-block;
    left: 455PX;
}
.boxarea-8:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-9{
    position:absolute;
    top:3932px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    display: inline-block;
    left: 810PX;
}
.boxarea-9:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-10{
    position: absolute;
    top:4088px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    left: 100PX;
    display: inline-block;
}
.boxarea-10:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-11{
    position:absolute;
    top:4088px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    left: 455PX;
    display: inline-block;
}
.boxarea-11:hover{
    background-color: rgb(48, 114, 236);
}
.boxarea-12{
    position: absolute;
    top:4088px;
    background-color: black;
    width: 350px;
    height: 150px;
    /* margin-left: 5px; */
    margin-top: 10px;
    left: 810PX;
    display: inline-block;
}
.boxarea-12:hover{
    background-color: rgb(48, 114, 236);
}
.box7{
    position: relative;
    top: 1650px;
    width: 100%;
    height: 600px;
    background-color: rgba(30, 30, 30, 0.772);
}
.box7-heading{
    position: absolute;
    top:-30px;
    left: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    
}
.box7-leftside{
    position: relative;
}

.img1-box7 {
    /* height: px; */
    border-radius: 30px !important;
    position: absolute;
    top: 70px;
    margin-left: 70px;
    width: 40px;
    display: block;
}
.img-text1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(17, 0, 255);
    position: absolute;
    top: 70px;
    left: 135px;
    font-size: 15px;
}
.img1-text-footer{
    position: absolute;
    top: 95px;
    left: 135px;
    color: rgb(103, 103, 103);
    font-size: 13px;
}
.img2-box7 {
    /* height: px; */
    border-radius: 30px !important;
    position: absolute;
    top: 150px;
    margin-left: 70px;
    width: 40px;
    display: block;
}
.img-text2{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(17, 0, 255);
    position: absolute;
    top:150px;
    left: 135px;
    font-size: 15px;
}
.img2-text-footer{
    position: absolute;
    top: 175px;
    left: 135px;
    color: rgb(103, 103, 103);
    font-size: 13px;
}
.img3-box7 {
    /* height: px; */
    border-radius: 30px ;
    position: absolute;
    top: 235px;
    margin-left: 70px;
    width: 40px;
    display: block;
}
.img-text3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(17, 0, 255);
    position: absolute;
    top: 4640px;
    left: 135px;
    font-size: 15px;
}
.img3-text-footer{
    position: absolute;
    top: 4665px;
    left: 135px;
    color: rgb(103, 103, 103);
    font-size: 13px;
}
.box7-rightside{
    position: absolute;
    top: 4460px;
    margin-left: 570px;
    width: 570px;
    line-height: 40px;
    font-size: 30px;
    color: white;
}
.box7-rightside-footer{
    position: absolute;
    top: 4800px;
    margin-left: 570px;
    width: 570px;
    color: white;
    font-size: 16px;
}
.rightside-footer-last{
    position: absolute;
    top: 30px;
    width: 570px;
    left: 3px;
    font-size: 15px;
    color: rgb(103, 103, 103);
}
.box8{
    margin-top: 1650px;
}
.box8-heading{
    margin-left: 70px;
    color: white;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;

}
.box8-text{
    margin-left: 730px;
    width: 500px;
    color: rgb(103, 103, 103);
    font-size: 13px;
    line-height: 20px;
    margin-top: -50px;
}
.box9{
    margin-top: 80px;
    width: 90%;
    margin-left: 60px;
    height: 500px;
    background-color: rgba(83, 82, 82, 0.071); 
    color: rgb(109, 108, 108);  
    position: relative;

   
}
.icon-text1{
    padding-left: 100px;
    padding-top: 100px; 
    text-decoration: underline;

}
.icon-text1:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text2{
    padding-left: 100px;
    padding-top: 10px; 
    position: absolute;
    top: 90px;
    left: 260px;
    text-decoration: underline;
    
}
.icon-text2:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text3{
    padding-left: 100px;
    padding-top: 10px; 
    position: absolute;
    top: 90px;
    left: 520px;
    text-decoration: underline;
}
.icon-text3:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text4{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 80px;
    left: 780px;
    text-decoration: underline;
}
.icon-text4:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text5{
    padding-left: 100px;
    padding-top: 20px; 

    text-decoration: underline;
}
.icon-text5:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text6{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 140px;
    left: 260px;
    text-decoration: underline;
}
.icon-text6:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text7{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 140px;
    left: 520px;
    text-decoration: underline;
    
}
.icon-text7:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text8{
    padding-left: 100px;
    padding-top:110px; 
    position: absolute;
    top: 50px;
    left: 780px;
    text-decoration: underline;
}
.icon-text8:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text9{
    padding-left: 100px;
    padding-top: 20px; 
    text-decoration: underline;
}
.icon-text9:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text10{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 195px;
    left: 260px;
    text-decoration: underline;
}
.icon-text10:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text11{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 195px;
    left: 520px;
    text-decoration: underline;
}
.icon-text11:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text12{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 195px;
    left: 780px;
    text-decoration: underline;
}
.icon-text12:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text13{
    padding-left: 100px;
    padding-top: 20px; 
    text-decoration: underline;
}
.icon-text13:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text14{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 250px;
    left: 260px;   
    text-decoration: underline;
}
.icon-text14:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text15{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 250px;
    left: 520px;   
    text-decoration: underline;
}
.icon-text15:hover{
    color: #ffffff;
    text-decoration: none;
}

.icon-text16{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 250px;
    left: 780px;   
    text-decoration: underline;
}
.icon-text16:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text17{
    padding-left: 100px;
    padding-top:20px; 
    text-decoration: underline;
}
.icon-text17:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text18{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 305px;
    left: 260px;   
    text-decoration: underline;
}
.icon-text18:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text19{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 305px;
    left: 520px;  
    text-decoration: underline;
}
.icon-text19:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text20{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 305px;
    left: 780px;  
    text-decoration: underline;
}
.icon-text20:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text21{
    padding-left: 100px;
    padding-top: 15px; 
    text-decoration: underline;
}
.icon-text21:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text22{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 360px;
    left: 260px;  
    text-decoration: underline;
}
.icon-text22:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text23{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 360px;
    left: 520px;  
    text-decoration: underline;
}
.icon-text23:hover{
    color: #ffffff;
    text-decoration: none;
}
.icon-text24{
    padding-left: 100px;
    padding-top: 20px; 
    position: absolute;
    top: 360px;
    left: 780px;  
    text-decoration: underline;
}
.icon-text24:hover{
    color: #ffffff;
    text-decoration: none;
}

.box10-heading{
    color: white;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-left: 100px;
}
.box10-text{
    color: rgba(160, 159, 159, 0.72);
    width: 350px;
    margin-top: 20px;
    margin-left: 100px;
    line-height: 20px;
    font-size: 14px;
    
}
.box10-btn{
    background-color: rgb(5, 109, 255);
    width: 120px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    text-align: center;
    margin-left: 100px;
}
.box10-rightsideimg{
    margin-left: 570px;
    margin-top: -300px;
}
.box11-heading{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
        
}
.contact-form{
    margin-left: 70px;
    margin-top: 40px;
}
.input-name{
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(77, 77, 77, 0.116)
    
}
.input-Email{
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
  
    background-color: rgba(77, 77, 77, 0.116)
    
}
.input-Number{
    width: 40%;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
 
    background-color: rgba(77, 77, 77, 0.116)
    
}
.input-Service{
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
 
    background-color: rgba(77, 77, 77, 0.116)
    
}
.input-textarea{
    width: 83.7%;
    margin-top: 5px;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: none;

    background-color: rgba(77, 77, 77, 0.116)
}
.submit-btn{
    background-color: rgb(5, 109, 255);
    width: 120px;
    padding: 15px;
    border-radius: 5px;
    /* margin-top: 5px; */
    color: white;
    text-align: center;
    /* margin-left: 10px; */
}
::placeholder{
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.box12-footer-contact{
    color: rgb(143, 142, 142);
    margin-top: 120px;
    margin-left: 70px;
    line-height: 30px;
    position: relative;
}
.box12-footer-contact-heading{
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.box12-footer-contact-number1{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    
}
.box12-footer-contact-number1:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
    
    
}
.box12-footer-contact-number2{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
}
.box12-footer-contact-number2:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
    
    
}
.box12-footer-contact-Email{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
}
.box12-footer-contact-Email:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources{
   color: rgb(143, 142, 142); 
}
.box12-footer-Sources-heading{
    color: #ffffff;
    font-size: 15PX;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 450px;
    margin-top: -143px;
}
.box12-footer-Sources-About{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 450px;
    margin-top: 10px;
}
.box12-footer-Sources-About:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-service{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 450px;
    margin-top: 10px;
}
.box12-footer-Sources-service:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-vision{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 450px;
    margin-top: 10px;
}
.box12-footer-Sources-vision:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-mission{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 450px;
    margin-top: 10px;
}
.box12-footer-Sources-mission:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-terms{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 450px;
    margin-top: 10px;
}
.box12-footer-Sources-terms:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-privacy{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 450px;
    margin-top: 10px;
}
.box12-footer-Sources-privacy:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-partner{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 600px;
    margin-top: -440px;
    display: inline-block;
    position: absolute;
    bottom: -6270px;
}
.box12-footer-Sources-Business{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 600px;
    margin-top: -440px;
    display: inline-block;
    position: absolute;
    bottom: -6300px;
}
.box12-footer-Sources-Business:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-Careers{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 600px;
    margin-top: -440px;
    display: inline-block;
    position: absolute;
    bottom: -6330px;
}
.box12-footer-Sources-Careers:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-Blog{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 600px;
    margin-top: -440px;
    display: inline-block;
    position: absolute;
    bottom: -6360px;
}
.box12-footer-Sources-Blog:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-FAQ{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 600px;
    margin-top: -440px;
    display: inline-block;
    position: absolute;
    bottom: -6390px;
}
.box12-footer-Sources-FAQ:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-Sources-Creative{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    margin-left: 600px;
    margin-top: -440px;
    display: inline-block;
    position: absolute;
    bottom: -6420px;
}
.box12-footer-Sources-Creative:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-links{
    color: rgb(143, 142, 142);
    
}
.box12-footer-links-heading{
    color: #ffffff;
    position: absolute;
    left: 840px;
    bottom: -6235px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.box12-footer-links1{


    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    position: absolute;
    left: 840px;
    bottom: -6265px;
   
}
.box12-footer-links1:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-links2{

    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    position: absolute;
    left: 840px;
    bottom: -6295px;
   
}
.box12-footer-links2:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-footer-links3{
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 255, 0.347);
    position: absolute;
    left: 840px;
    bottom: -6325px;
   
}
.box12-footer-links3:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 255);
}
.box12-icons-footer{
    position: absolute;
    top:6900px;
    left: 870px;
}
.icon1{
    border-radius: 30px;
    width: 50px;
    background-color: rgb(96, 95, 95);
    padding: 10px;
}
.icon2{
    border-radius: 30px;
    width: 50px;
    background-color: rgb(96, 95, 95);
    padding: 10px;
}
.icon3{
    border-radius: 30px;
    width: 50px;
    background-color: rgb(96, 95, 95);
    padding: 10px;
}
.icon4{
    border-radius: 30px;
    width: 50px;
    background-color: rgb(96, 95, 95);
    padding: 10px;
}
.icon5{
    border-radius: 30px;
    width: 50px;
    background-color: rgb(96, 95, 95);
    padding: 10px;
}
.footer-last-text{
    color: rgb(186, 186, 186);
    margin-top: 70px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}